.white {
  fill:white;
  stroke:black;
  stroke-width:1;
  cursor:pointer;
  margin:2px;
}
.white:hover {
  fill:#9e9e9e;
  stroke:lightblue;
  cursor:pointer;
  stroke-width:1;
  outline: black solid 1px;
}
.black {
  fill:black;
  stroke-width:1;
  cursor:pointer;
  margin:2px;
}
.black:hover {
  fill:#515151;
  stroke:lightblue;
  stroke-width:1;
  outline: black solid 1px;
}
